@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Custom font for Header only */
@layer utilities {
  .font-aquire {
    font-family: 'Aquire', sans-serif;
  }
}
